.news-blogs-section {
  padding: 40px 20px;
  text-align: center;
  background-color: #403434;
}

.section-title {
  font-size: 2rem;
  margin-bottom: 40px;
}

.news-blogs-grid {
  display: flex;
  gap: 20px;
  justify-content: center;
}
