.news-blogs-section {
  padding: 40px 20px;
  margin: 85px;
  text-align: center;
  background-color: hsl(0, 43%, 96%);
}

.section-title {
  font-size: 2rem;
  color: black;
}

.news-blogs-grid {
  display: flex;
  gap: 20px;
  justify-content: center;
}
